.content section.hot {
    margin-top: 27vw;
}
.hot .bang_cover{
    height: 39vw;
    background: url('../img/hot/hot_bg.jpg') no-repeat;
    background-size: contain;
    padding: 6vw 0 0 5vw;
    filter:brightness(.9);
}
.hot .bang_cover .bang_icon{
    width: 142px;
    height: 69px;
    background-position: -24px -30px;
    background: url('../img/hot/hot_icon.png') no-repeat right bottom;
    background-size: 166px 97px;
}

.hot .bang_cover .update{
    color: white;
    font-size: 3.2vw;
    padding-top: 2.5vw;
    transform: scale(.91);
    margin-left: -4vw;
}

.hot .bang_list a{
    display: flex;
    flex-direction: row;
}
.bang_list li{
    border-bottom: none;
}
.bang_list a {
    align-items: center;
}
.bang_list a .song{
    border-bottom: 1px solid #eee;   
    flex: 1; 
}
.bang_list a .index {
    font-size: 4.5vw;
    padding: 3vw;
}

.hot footer {
    margin: 20px auto;
    text-align: center;
}

.hot footer a {
    color: #999;
}
.hot footer a::after {
    content: '>';
    margin-left: 0.5em;
    color: #ddd;
    vertical-align: middle;
}