* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

*::before,
*::after {
	box-sizing: border-box;
}

/* 选择动画，circle；时间；无限循环；线性变化 */

@keyframes circle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1turn);
	}
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
}


.background {
	background-image: url("../img/disc_default.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
	z-index: -1;
}

/* .page.playing .disc .circle-light, */
.page.playing .disc {
	animation: circle 20s infinite linear;
}

/* .page.paused .disc .circle-light, */
.page.paused .disc {
	animation: circle 20s infinite linear;
	animation-play-state: paused;
}


.disc-container {
	position: relative;
}

.page.page .disc-container .play-btn {
	position: absolute;
	width: 18vw;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.page.page.playing .disc-container .play-btn {
	display: none;
}

.disc-container .pointer {
	width: 24vw;
	position: absolute;
	left: 45vw;
	z-index: 1;
}

.disc-container .disc {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 17vw;
	position: relative;
}

.disc-container .circle {
	width: 72vw;
}

.disc-container .circle-light {
	width: 72vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.disc-container .album-cover {
	width: 45vw;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.song-description {
	text-align: center;
	color: #ada9a9;
	margin-top: 8vw;
	flex-grow: 1;
}

.song-description .lyric {
	margin-top: 2vw;
	font-size: 16px;
	height: 120px;
	overflow: hidden;
}

.song-description .lyric .lines {
	transition: all 0.3s;
}
.song-description .lyric p {
	line-height: 24px;
}

.song-description .lyric p.active {
	color: #fff;
}

.song-description h2 {
	font-size: 19px;
	color: #fff;
}

.page>.links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2vw;
}

.page>.links a {
	margin: 1vw;
	width: 47vw;
	text-align: center;
	padding: 2vw;
	color: #d73835;
	border-radius: 5vw;
	text-decoration: none;
	border: 1px solid #d73835;
	letter-spacing: 1vw;
}

.page>.links a.main {
	background-color: #d73835;
	color: white;
}